.app-container {
  display: flex;
  flex-direction: row;
}

.app-sidebar {
  flex-basis: 220px;
  min-height: 100vh;
  background-color: antiquewhite;
  text-align: center;
}

.app-sidebar ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.app-sidebar a {
  text-decoration: none;
}

